<p>
usiamo solo cookies tecnici, servono a effettuare la navigazione o a fornire un servizio richiesto dall’utente.
 Non vengono utilizzati per scopi ulteriori e sono normalmente installati direttamente dal titolare del sito web.

Senza il ricorso a tali cookie,
 alcune operazioni non potrebbero essere compiute o sarebbero più complesse e/o meno sicure,
  per le quali i cookie, che consentono di effettuare e mantenere l’identificazione dell’utente nell’ambito 
  della sessione, risultano indispensabili.
</p>
