form {// center the login form for all screen
    margin-bottom: 32px;
    button {
        margin-top: 20px !important;
    }
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}

ion-label {
    margin-left: 5px;
}

ion-input {
    padding: 5px;
}

.invalid {
    border-bottom: 1px solid #ff6153;
}

.error-message {
    min-height: 2.2rem;
    ion-label {
        margin: 2px 0;
        font-size: 60%;
        color: #ff6153;
    }
    .item-inner {
        border-bottom: 0 !important;
    }
}



.background-color{
  //  --background: url(/assets/images/geniallotto.jpg) 50% 50%/600px 600px no-repeat;
  background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%); /* IE10+ */
  background: linear-gradient(135deg,  #EA5C54  0%,#bb6dec 100%); /* W3C */
    
}