
<ion-content no-scroll padding style="background:linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%)">
<body style="
background: #C9EEFF;
background: linear-gradient(45deg, #C9EEFF, #024BAD);" class="parent" >
<!--   <app-login-component></app-login-component> -->
<!--   <app-login-definitivo></app-login-definitivo> -->
<app-scout-login></app-scout-login>
</body>
</ion-content>

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=c9eeff&c2=024bad&gt=l&gd=dbl
*/
background: #C9EEFF;
background: linear-gradient(45deg, #C9EEFF, #024BAD);