form {
    margin-bottom: 32px;
    button {
        margin-top: 20px !important;
    }
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}

ion-label {
    margin-left: 5px;
}

ion-input {
    padding: 5px;
}

.invalid {
    border-bottom: 1px solid #ff6153;
}

.error-message {
    min-height: 2.2rem;
    ion-label {
        margin: 2px 0;
        font-size: 60%;
        color: #ff6153;
    }
    .item-inner {
        border-bottom: 0 !important;
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    position: relative;
    left: 30%;
    top: 3%;
  }
  

  /* On screens that are 500px or less, set the background color to olive */
@media screen and (max-width: 500px) {
    app-wyscout-login {
        display: flex;
        top: 13vh;
        /* left: 50%; */
        margin-left: 0 auto;
        position: relative;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
